.body {
	padding: 60px 0;
}

.background {
	background: url('https://catherineasquithgallery.com/uploads/posts/2023-02/1676618296_catherineasquithgallery-com-p-fon-khvoinii-les-40.jpg')
		center center no-repeat fixed;
	background-size: cover;

	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;

	@media screen and (max-height: 670px) {
		height: auto;
	}
}

.root {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 60%;
	height: 450px;

	margin: 150px auto;

	border-radius: 5px;

	@media screen and (max-width: 950px) {
		flex-direction: column-reverse;
		justify-content: flex-start;

		margin: 230px auto;

		width: 90%;
	}
}

.rootReg {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 60%;
	height: 450px;

	margin: 100px auto;

	border-radius: 5px;

	@media screen and (max-width: 950px) {
		flex-direction: column-reverse;
		justify-content: flex-start;

		margin: 300px auto;

		width: 90%;
	}
}

.block {
	width: 60%;
	height: 100%;

	margin-right: 10px;
	padding: 40px;

	border-radius: 5px;

	display: flex;
	flex-direction: column;

	justify-content: flex-start;

	@media screen and (max-width: 950px) {
		width: 100%;
		align-items: center;
	}

	button {
		width: 50%;

		@media screen and (max-width: 950px) {
			width: 100%;
		}
	}

	.regBtn {
		width: 74%;

		@media screen and (max-width: 950px) {
			width: 100%;
		}
	}

	.field {
		margin-bottom: 30px !important;
		font-family: Georgia, serif !important;
	}

	.title {
		font-family: Georgia, serif !important;
		font-size: 35px !important;
		font-style: normal;

		font-weight: bold !important;
		margin-bottom: 50px !important;

		@media screen and (max-width: 950px) {
			font-size: 30px !important;
			margin-bottom: 30px !important;
		}

		@media screen and (max-width: 520px) {
			font-size: 25px !important;
			margin: 0;
			margin-bottom: 20px !important;
		}

		@media screen and (max-width: 370px) {
			font-size: 22px !important;
		}
	}

	&:last-child {
		width: 40%;
		margin: 0;
		padding: 0;

		@media screen and (max-width: 950px) {
			width: 100%;
			height: 200px;
		}
	}

	.swiper {
		height: 600px;
		width: 100%;

		--swiper-theme-color: white;

		.info {
			display: flex;
			flex-direction: column;

			align-items: center;

			text-align: center;

			h2 {
				font-size: 30px !important;

				color: white;
				margin-bottom: 5px !important;

				@media screen and (max-width: 1100px) {
					font-size: 25px !important;
				}

				@media screen and (max-width: 950px) {
					margin-bottom: 0 !important;
				}

				@media screen and (max-width: 520px) {
					font-size: 20px !important;
				}
			}

			h3 {
				font-size: 25px !important;
				color: white;
				margin: 0;
				margin-bottom: 80px !important;

				@media screen and (max-width: 1100px) {
					font-size: 20px !important;
				}

				@media screen and (max-width: 950px) {
					margin-bottom: 10px !important;
				}

				@media screen and (max-width: 520px) {
					font-size: 15px !important;
				}
			}
		}

		button {
			width: 80%;
			padding: 20px 50px;

			border: 2.5px solid #fff;

			color: #fff;
			background-color: transparent;

			@media screen and (max-width: 1000px) {
				padding: 10px 30px;
			}
		}

		.loginBtn {
			padding: 10px 90px;
		}

		@media screen and (max-width: 660px) {
			height: 500px;
		}

		@media screen and (max-width: 400px) {
			height: 400px;
		}
	}

	.swiper-button-next {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
	}

	.swiperSlide {
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 0 5px 5px 0;

		@media screen and (max-width: 950px) {
			border-radius: 5px 5px 0 0;
		}

		&:nth-child(1) {
			position: relative;
			background: url('https://4lapki.com/wp-content/uploads/2019/05/https-avatars-mds-yandex-net-get-pdb-467185-11cb.jpeg')
				center/cover no-repeat;
		}

		&:nth-child(2) {
			background: url('https://cdn.culture.ru/images/1028829b-fbd3-5471-b05d-e7bacd415505')
				center/cover no-repeat;
		}

		&:nth-child(3) {
			background: url('https://w.forfun.com/fetch/f5/f5ba7957725d63492a6a9ffb5bb10ad1.jpeg')
				center/cover no-repeat;
		}

		&:nth-child(4) {
			background: url('https://gorodprizrak.com/wp-content/uploads/2023/06/282b58604eb7fb8d4b14b326e8c07936.jpg')
				center/cover no-repeat;
		}
	}
}
