.root {
	font-family: Lora, serif;
	display: flex;
	margin-top: 10px;
	padding-bottom: 20px;
	margin-right: 20px;
	margin-left: 17px;
}

.avatar {
	margin-right: 15px;
}

.form {
	width: 100%;

	button {
		background-color: #495057;
		margin-top: 10px;
		transition: background-color 0.2s linear;

		&:hover {
			background-color: #d4a373;
		}
	}
}
