.root {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: Georgia, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px; /* 208.333% */

	.link {
		color: #495057;
		margin-right: 20px;
		text-decoration: none;
		list-style: none;
		outline: none;
		-webkit-transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		transition: color 0.2s linear;

		&:hover,
		&:active,
		&:focus {
			color: #d4a373;
		}
	}

	.title {
		color: #495057;
		margin-right: 20px;
		list-style: none;
	}
}

.skeleton {
	margin-right: 10px;
}
