.root {
	padding: 66px 0;
	background: #212529;

	font-family: Lora, serif;
	font-style: normal;
	line-height: 25px;

	@media screen and (max-width: 740px) {
		padding: 46px 0;
	}

	@media screen and (max-width: 740px) {
		padding: 26px 0;
	}

	.blocks {
		display: flex;

		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		@media screen and (max-width: 740px) {
			justify-content: center;

			text-align: center;
		}

		.block {
			width: 25%;
			display: flex;
			flex-direction: column;

			@media screen and (max-width: 740px) {
				width: 50%;
			}

			@media screen and (max-width: 460px) {
				width: 100%;
			}

			h2 {
				font-family: Georgia, serif;

				color: #fff;
				font-size: 18px;
				font-style: normal;
				font-weight: 700;
			}

			a {
				margin-bottom: 18px;

				color: #e5e5e5;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;

				text-decoration: none;

				transition: color 0.2s linear;

				&:hover {
					color: #d4a373;
				}
			}

			.address {
				margin: 0;

				color: #e5e5e5;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				line-height: 25px; /* 138.889% */

				width: 50%;

				@media screen and (max-width: 740px) {
					width: 100%;
				}
			}

			.social {
				padding-right: 60px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				@media screen and (max-width: 740px) {
					padding-right: 0;
					margin-left: 15px;
				}

				@media screen and (max-width: 460px) {
					justify-content: center;
				}

				a {
					margin-right: 18px;
				}
			}
		}
	}
}

//svg
a:nth-child(1),
a:nth-child(4) {
	&:hover {
		path {
			transition: fill 0.2s linear;

			&:nth-child(1),
			&:nth-child(3) {
				fill: #d4a373;
			}
		}
	}
}

a:nth-child(2) {
	&:hover {
		path {
			transition: fill 0.2s linear;

			&:nth-child(1),
			&:nth-child(3) {
				fill: #d4a373;
			}
		}
	}
}

a:nth-child(3) {
	&:hover {
		path {
			transition: fill 0.2s linear;

			&:nth-child(2) {
				fill: #d4a373;
			}
		}
	}
}

.bottom {
	padding: 11px;
	background: #343a40;

	p {
		color: #e5e5e5;
		font-family: Lora, serif;
		font-size: 14px;
		font-style: normal;
		line-height: normal;
	}

	@media screen and (max-width: 740px) {
		text-align: center;
	}
}
