.root {
	position: relative;
	margin-bottom: 50px;

	border-radius: 10px;

	width: 24%;

	height: 570px;
	overflow: hidden;

	border: 1px solid #fff;

	transition: border 0.2s linear;

	@media screen and (max-width: 1150px) {
		width: 32%;
	}

	@media screen and (max-width: 800px) {
		margin-bottom: 20px;
		height: 600px;

		width: 48%;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
		height: 520px;
	}

	&:hover {
		border: 1px solid #d4a373;
		box-shadow: 0 0 0 1px #d4a373;
		.editButtons {
			opacity: 1;
		}
	}

	&:not(:nth-child(4n)) {
		margin-right: 8px;
	}

	@media screen and (max-width: 1150px) {
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:not(:nth-child(3n)) {
			margin-right: 8px;
		}
	}

	@media screen and (max-width: 800px) {
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:not(:nth-child(2n)) {
			margin-right: 8px;
		}
	}

	&Full {
		padding: 0 100px;

		margin-bottom: 10px;

		width: 100%;
		height: 100%;

		transition: none;
		border: none;
		box-shadow: none;

		&:hover {
			border: none;
			box-shadow: none;
		}

		@media screen and (max-width: 1000px) {
			padding: 0 60px;
		}

		@media screen and (max-width: 800px) {
			padding: 0 40px;
		}

		@media screen and (max-width: 550px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 490px) {
			padding-top: 25px;
		}

		@media screen and (max-width: 490px) {
			padding: 0 5px;
			padding-top: 25px;
		}
	}

	&Populate {
		width: 32%;
		height: 350px;

		display: flex;
		flex-direction: column;

		justify-content: flex-end;

		padding-bottom: 30px;

		&:nth-child(3) {
			margin-right: 0;
		}

		@media screen and (max-width: 800px) {
			width: 49%;

			&:nth-child(3) {
				width: 100%;
				margin-right: 0;
			}
		}

		@media screen and (max-width: 500px) {
			width: 100%;
			height: 350px;
		}
	}
}

.image {
	position: relative;

	width: 280px;
	height: 280px;
	object-fit: cover;

	@media screen and (max-width: 1150px) {
		width: 100%;
	}

	&Full {
		margin-top: 60px;

		width: 100%;
		height: 100%;
		max-height: 50vh;

		border-radius: 10px;
	}

	&Populate {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		z-index: -1;
	}
}

.wrapper {
	padding: 10px 20px 20px;

	&Populate {
		color: white;
	}
}

.userInfo {
	color: #495057;

	&Populate {
		color: white;
	}
}

.content {
	max-height: 60px;
	overflow: hidden;

	color: #495057;
	font-family: Lora, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 166.667% */

	p {
		margin: 8px 0;
	}

	&Full {
		color: #23282b;

		font-size: 20px;
		max-height: none;
		overflow: visible;

		line-height: 28px;

		text-indent: 35px;

		strong {
			font-size: 25px;

			@media screen and (max-width: 490px) {
				font-size: 22px;
			}
		}
		p:has(img) {
			text-align: center;
			text-indent: 0;

			img {
				margin: 10px 0;

				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;

				border-radius: 5px;
			}
		}

		@media screen and (max-width: 490px) {
			font-size: 18px;
		}
	}

	&Populate {
		color: #e5e5e5;
	}
}

.title {
	font-family: Georgia, serif;

	line-height: 20px;
	padding: 0;

	margin: 5px 0 15px 0;

	a {
		color: #495057;
		font-family: Georgia, serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;

		text-decoration: none;

		transition: color 0.2s linear;

		&:hover {
			color: #d4a373;
		}
	}

	&Full {
		margin: 30px 0;
		color: #23282b;

		font-size: 42px;
		font-weight: 900;

		line-height: 1.2;

		@media screen and (max-width: 550px) {
			margin: 15px 0;

			font-size: 32px;
		}

		@media screen and (max-width: 490px) {
			font-size: 25px;
		}
	}

	&Populate {
		a {
			color: white;
		}
	}
}

.tags {
	position: absolute;
	right: 0;
	top: 0;

	li {
		margin-right: 10px;
		margin-bottom: 5px;
		padding: 5px 10px;

		display: inline-block;

		font-family: Roboto, 'sans-serif';
		text-transform: uppercase;
		font-weight: 700;

		border-radius: 8px;
		background: rgba(255, 255, 255, 0.15);

		font-size: 14px;
		opacity: 0.7;

		transition: opacity 0.2s linear;

		&:hover {
			opacity: 1;
		}

		a {
			color: #ffffff;
			text-decoration: none;
		}
	}

	&Full {
		position: inherit;
		padding: 0;
		li {
			margin-right: 10px;
			padding: 0;

			background: none;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}

			a {
				color: #495057;
			}
		}
	}
}

.postDetails {
	position: absolute;
	bottom: 0;
	left: -20px;

	list-style: none;
	margin: 20px 0 0 0;

	li {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		margin-right: 20px;
		opacity: 0.5;

		svg {
			font-size: 18px;
			margin-right: 5px;
		}
	}

	&Full {
		padding: 0 100px;

		bottom: -10px;
		left: 38px;

		@media screen and (max-width: 1000px) {
			padding: 0 60px;
		}

		@media screen and (max-width: 800px) {
			padding: 0 40px;
		}

		@media screen and (max-width: 550px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 490px) {
			padding: 0 5px;
		}
	}

	&Populate {
		li {
			color: white;

			svg {
				color: white;
			}
		}
	}
}

.skeleton {
	height: 570px;
	width: 24%;

	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 15px;

	margin-right: 8px;

	@media screen and (max-width: 1150px) {
		width: 32%;
	}

	@media screen and (max-width: 800px) {
		margin-bottom: 20px;

		width: 48%;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
		height: 520px;
	}
	&Content {
		padding: 20px;
	}
}

.skeletonUser {
	display: flex;

	&Details {
		display: flex;
		flex-direction: column;
	}
}

.populateSkeleton {
	height: 350px;
	width: 32%;

	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 15px;

	margin-right: 8px;

	@media screen and (max-width: 800px) {
		width: 48%;

		&:nth-child(3) {
			width: 100%;
			margin-right: 0;
		}
	}

	@media screen and (max-width: 500px) {
		width: 100%;
		height: 350px;
	}
}

.fullSkeleton {
	padding: 60px 100px;

	width: 100%;
	height: 100%;

	background-color: #fff;

	overflow: hidden;

	.skeletonUser {
		margin-bottom: 45px;
	}

	.tag {
		margin-top: 45px;
	}

	.text {
		margin-top: -20px;
	}

	@media screen and (max-width: 1000px) {
		padding: 60px 60px;
	}

	@media screen and (max-width: 800px) {
		padding: 60px 40px;
	}

	@media screen and (max-width: 550px) {
		padding: 60px 15px;
	}

	@media screen and (max-width: 490px) {
		padding-top: 85px;
	}

	@media screen and (max-width: 490px) {
		padding: 0 5px;
		padding-top: 85px;
	}
}

.editButtons {
	position: absolute;
	z-index: 100;

	right: 15px;
	top: 230px;

	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	opacity: 0;
	transition: all 0.15s ease-in-out;

	&Populate {
		top: 290px;
	}
}
