.root {
	width: 100%;
	font-family: Lora, serif;
}

.main {
	margin-bottom: 70px;
	height: 490px;
	width: 100%;
	background: url('https://celes.club/uploads/posts/2021-12/1639458448_35-celes-club-p-malenkaya-cherno-belaya-ptichka-ptitsi-kra-36.jpg')
		top/cover no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	@media screen and (width <= 1000px) {
		height: 400px;
	}

	@media screen and (width <= 635px) {
		height: 300px;
		margin-bottom: 35px;
	}

	h1 {
		font-family: Georgia, serif;
		color: #fff;
		font-size: 75px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;

		@media screen and (width <= 545px) {
			font-size: 55px;
		}
	}
}

.container {
	padding: 0 100px;
}

.title {
	font-family: Georgia, serif;
	color: #23282b;
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;

	p {
		margin-top: 100px;
		margin-bottom: 50px;

		@media screen and (width <= 635px) {
			margin-top: 50px;
			margin-bottom: 45px;
		}
	}

	@media screen and (width <= 1000px) {
		font-size: 35px;
	}

	@media screen and (width <= 475px) {
		font-size: 30px;
	}
}

.subtext {
	margin: 0 auto;
	margin-bottom: 70px;
	font-family: Georgia, serif;
	color: #495057;
	width: 90%;
	text-align: center;

	@media screen and (width <= 1000px) {
		font-size: 14px;
	}

	@media screen and (width <= 635px) {
		margin-bottom: 25px;
	}
}

.info {
	margin-bottom: 50px;

	.block {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		margin-bottom: 50px;

		@media screen and (width <= 635px) {
			margin-bottom: 25px;
		}

		img {
			width: 38%;
			height: 320px;
			object-fit: cover;
			border-radius: 5px;

			@media screen and (width <= 635px) {
				width: 100%;
				margin-bottom: 15px;
			}
		}

		&:nth-child(2) {
			@media screen and (width <= 635px) {
				flex-direction: column;
				align-items: center;
			}
		}

		@media screen and (width <= 635px) {
			flex-direction: column-reverse;
			align-items: center;
		}

		.text {
			width: 50%;
			color: #495057;

			h2 {
				font-family: Georgia, serif;
				color: #23282b;
				margin: 0;
				margin-bottom: 10px;
				font-size: 26px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;

				@media screen and (width <= 1000px) {
					font-size: 20px;
				}
			}

			@media screen and (width <= 635px) {
				width: 100%;
				text-align: center;
			}

			p {
				margin: 4px 0;
				font-size: 18px;
				line-height: 28px;

				@media screen and (width <= 1000px) {
					font-size: 14px;
				}
			}
		}
	}
}
