.root {
	padding: 30vh 0;

	@media screen and (height <= 1440px) {
		padding: 25vh 0;
	}

	@media screen and (height <= 1080px) {
		padding: 15vh 0;
	}

	@media screen and (height <= 650px) {
		padding: 10vh 0;
	}
}

.text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.title {
	font-family: Georgia, serif;
	color: #495057;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 0;

	@media screen and (width <= 580px) {
		font-size: 65px;
	}

	@media screen and (width <= 420px) {
		font-size: 50px;
	}
}